<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>サイコロ結果</title>
</head>
<body>
  <h1>サイコロの結果</h1>
  <p>サイコロの面数: <%= sides %></p>
  <p>出た目: <%= result %></p>
  <a href="/dice-form">もう一度振る</a>
</body>
</html>
